.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("фон.jpg");
}
h1{
  text-align: right;
  font: 40px  sans-serif;
  color: cyan;
  padding-right: 300px;
}

.layer1 {
  display: flex;
}

.layer2 {
  padding: 5px;
  float: left;
  width: 49%;
  margin: auto;
  text-align: center;
}

.layer3 {
  padding: 5px;
  width: 49%;
  float: right;
  margin: auto;
}

img {
  border: 1px solid cyan;
}

.bio {
  text-align: left;
  font: 35px sans-serif;
  color: cyan;
}

.text {
  text-align: left;
  color: greenyellow;
  font: 25px sans-serif;
  border: 1px solid cyan;
}
